body{
	background-color: #beb1a5;
	font-family: 'Encode Sans Semi Expanded', sans-serif;
}
.listItem {
    border: #88b04b 5px solid;
    width: 0%;
    padding: 10%;
    border-radius: 53%;
    display: flex;
    background-color: #beb1a5;
    color: #fcf951;
    justify-content: center;

}

ul {
	list-style-type: none;
}

.header{
	color: #fcf951;
	font-size: 5em;
	position: relative;
	left: 1%;
}

input {
	width: 300px;
    position: absolute;
    left: 27%;
    top: 26%;
    height: 4%;
    background-color: #ead4a2;
    padding: 0px;
    border: 0px;
}

.showFavs{
    position: absolute;
    left: 57%;
    top: 26%;
    height: 4%;
	width: 30%;
    background-color: #ead4a2;
    color: #444444;
	border: 0px;
    padding: 0px;
}


h4{
	position: absolute;
	left: 2%;
	top: 24%;
	color: #f0f7e8
}

.or {
	position: absolute;
    top: 23%;
    left: 52%;
    color: #f3ffd6;
    font-size: 1.5em;
}

::placeholder{
	color: #444444;
	font-weight: 300;
	opacity: 0.8;
}


.favorites{
  background-color: #88b04b;
  opacity: 0.5
}

.marker{
	background-color: #88b04b;
	height: 15px;
	width: 15px;
	opacity: 0.8;
	border-radius: 100%
}


.mainMap{
    width: 53%;
    height: 40%;
    left: 46%;
    position: fixed;
	background-color: #fff5df;
	bottom: -48.5%;
    padding-bottom: 35%;
	padding-top: 4%;
	padding-left: 5%
}

.checkoutMap{
    color: #beb1a5;
}

.circleText {
	position: absolute;
    left: 25%;
    top: 31%;
    color: #fcf951;
}